<div id="<%= dom_id post %>">

  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag post.image %>
  </p>

  <p>
    <strong>Video:</strong>
    <%= video_tag(post.name, size: "100x100") if post.name.present?%>
  </p>

</div>
