<div id="<%= dom_id daraz %>">
  <p>
    <strong>Title:</strong>
    <%= daraz.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= daraz.body %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= daraz.price %>
  </p>

  <p>
    <strong>Images:</strong>
    <%= daraz.images %>
  </p>

</div>
